<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="False" />
	</packageRestore>
	<packageSources>
		<add key="infragistics.com" value="https://packages.infragistics.com/nuget/licensed/" />
	</packageSources>
</configuration>
