.column-layout {
    display: flex;
    flex-direction: column;
}
.master-view-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 1rem;
    overflow: hidden;
}
.navbar {
    height: max-content;
    min-width: min-content;
}
.view-container {
    overflow: auto;
    position: relative;
    flex-grow: 1;
}
.avatar {
    margin: 0 8px 0 0;
}
.avatar::part(base) {
    background-color: transparent;
}
.button {
    --ig-size: var(--ig-size-medium);
    margin: 0 8px 0 0;
    height: max-content;
    flex-shrink: 0;
}
.button::part(base) {
    color: hsla(var(--ig-gray-900));
}
